[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
django = "*"
djangorestframework = "*"
python-decouple = "*"
dj-database-url = "*"
psycopg2 = "*"
gunicorn = "*"
django-heroku = "*"

[requires]
python_version = "3.7"
